{% extends 'base.html' %}

{% block title %}Liste des employés{% endblock %}

{% block content %}
  <h1 class="mb-4">Liste des employés</h1>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Poste</th>
        <th>Salaire</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.salary }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
