{% extends 'base.html' %}

{% block title %}Liste des missions{% endblock %}

{% block content %}
  <h1 class="mb-4">Liste des missions</h1>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Date de départ</th>
        <th>Lieu de départ</th>
        <th>Date d'arrivée</th>
        <th>Lieu d'arrivée</th>
        <th>Distance</th>
        <th>Autres charges</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      {% for mission in missions %}
        <tr>
          <td>{{ mission.id }}</td>
          <td>{{ mission.nom }}</td>
          <td>{{ mission.date_depart }}</td>
          <td>{{ mission.lieu_depart }}</td>
          <td>{{ mission.date_arrivee }}</td>
          <td>{{ mission.lieu_arrivee }}</td>
          <td>{{ mission.distance }}</td>
          <td>{{ mission.autres_charges }}</td>
          <td>{{ mission.prix }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
